<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
	  internalLogLevel="Debug,Info">

	<extensions>
		<add assembly="NLog.Extensions.Logging"/>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets async="true" overflowAction="Grow">

		<target name="logConsole" xsi:type="Console">
			<layout xsi:type="JsonLayout">
				<attribute name="Date" layout="${longdate}" />
				<attribute name="Level" layout="${level:uppercase=true}" />
				<attribute name="Logger" layout="${logger}" />
				<attribute name="ThreadId" layout="${threadid}" />
				<attribute name="Message" layout="${message}" />
				<attribute name="Exception" encode="false" layout="${replace:searchFor=\\\\r\\\\n:replaceWith=\\\\n:inner=${exception:format=@}}"  />
				<attribute name="RequestUrl" layout="${aspnet-request-url}" />
			</layout>
		</target>
	</targets>
	<rules>
		<logger name="*" minlevel="${configsetting:item=Logging.LogConsole.Default}" writeTo="logConsole" />
	</rules>
</nlog>