body{
    background-color: #121212;
}

.conteiner{
    display: flex;
    flex-direction: column;
    padding: 3%;
    height: 100%;
    width: 100%;
    align-items: center;
}

.card {
    width: 35%;
    height: 150px;
    background-image: linear-gradient(163deg, #ffea00 0%, #00ff2a 100%);
    border-radius: 20px;
    transition: all .3s;
}

.card2 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transform: scale(0.995);
    background-color: #121212;
    border-radius:20px;
    transition: all .2s;
}

.card:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 102, 0.608);
}   

.bigCard {
    margin-top: 5%;
    width: 60%;
    height: 150px;
    background-image: linear-gradient(163deg, #ffea00 0%, #00ff2a 100%);
    border-radius: 20px;
    transition: all .3s;
}

.bigCard2 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transform: scale(0.995);
    background-color: #121212;
    border-radius:20px;
    transition: all .2s;
}

.card:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 102, 0.608);
}

label{
    margin-left: 5%;
}